div.body {
    background-color: #202020;
    color: white;
}

div.body div.form {
    position: static;
    top: 60px;
    left: 0px;
    background-image: linear-gradient(135deg, #48c6ef, #6f86d6);
    margin: 0 auto;
    width: 90vw;
    max-width: 100%;
    padding: 20px;
    border-color: white;
    border-width: 15px;
    border-radius: 25px;
}

div.body #trip_type_div {
    display: flex;
    padding: 10px;
    margin-top: 10px;
}

div.body #trip_type_ow {
    align-self: flex-start;
}

div.body #trip_type_ret {
    margin-left: 50px;
}

div.body #dates_div {
    display: flex;
    padding: 10px;
    margin-left: 135px;
    margin-top: 5px;
}

div.body #return_date_label {
    margin-left: 50px;
}

div.body .dates {
    margin-top: 10px;
}

div.body #src_des {
    display: flex;
    padding: 10px;
    flex-direction: row;
    margin-top: 5px;
}

div.body #des_label {
    margin-left: 50px;
}

div.body .src_des{
    margin-top: 10px;
}

div.body select {
    width: 15vw;
    height: 35px;
}

div.body [type="date"] {
    height: 10px;
}

div.body #submit_div {
    display: flex;
    flex-direction: row-reverse;
}

div.body button {
    color: #FFF;
    font-size: 16px;
    font-weight: 800;
    padding: 10px;
    border-radius: 15px;
    border-width: 0px;
}

div.body .submit_button {
    background-image: linear-gradient(45deg, #96c93d, #7B920A);
    transition-duration: 0.2s;
    margin-right: 15px;
    margin-bottom: 10px;
    font-weight: 400;
}

div.body .submit_button:hover {
    transform: scale(1.05);
    font-weight: 800;
}

div.body #n_passengers {
    display: flex;
    flex-direction: column;
    margin-left: 135px;
    margin-top: 5px;
    padding: 10px;
}

div.body #passengers {
    margin-top: 10px;
    width: 100px;
}

div.body label {
    font-weight: 800;
    font-size: 14.5px;
}

div.body #mid_bar {
    display: flex;
    justify-content: space-evenly;
}

div.body input[type=date] {
    height: 35px;
}